{% load static %}
<html>
    <head>
        <title>Match!</title>
        {#        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            <a href="/profile">Profile</a>
            <a href="/search">Search</a>
            <a href="/results">Results</a>
        </nav>

        <h1>Profile</h1>
        <article>
            {% for image in profile.images %}
                <img src="{% static image %}" alt="">
            {% endfor %}
            <h3>{{ profile.name }}</h3>
            <p>{{ profile.description }}</p>
        </article>
{#        <script type="text/javascript" src="{% static 'boostrap/dist/js/bootstrap.min.js' %}"></script>#}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    </body>
</html>