body {
  padding-top: 50px;
}
#navbar .navbar-right input {
    width:100px;
}
.search-center {
  padding: 40px 15px;
  text-align: center;
}
.profile {
    margin:2em 0;
    text-align:center;
}
.profile img {
    margin:0 auto;
    max-width:200px;
    height:200px;
}
.profile-container {
    padding-top:20px;
}
.images {
    border-radius:25px;
    overflow: hidden;
    width:450px;
    margin:0 auto;
}
.images img {
    width:150px;
    display:inline-block;
    float:left;
}
.images img:first-child {
    height:300px;
    width:auto;
}
footer {
  text-align: center;
}